.sheaLeft {
  width: 37px;
  height: 37px;
}

.sheaRight {
  width: 34px;
  height: 34px;
}

.mattLeft {
  width: 27px;
  height: 27px;
}

.mattRight {
  width: 35px;
  height: 35px;
}

.liamLeft {
  width: 34px;
  height: 34px;
}

.liamRight {
  width: 28px;
  height: 28px;
}
