div {
  height: 100%;
  width: 100%;
}

p {
  background-size: contain;
  background-repeat: no-repeat;
}

.eye {
  height: 100%;
  width: 100%;
}

.sheaLeft {
  background-image: url("../../assets/left.png");
}

.sheaRight {
  background-image: url("../../assets/right.png");
}

.liamLeft {
  background-image: url("../../assets/left.png");
}

.liamRight {
  background-image: url("../../assets/left.png");
}

.mattLeft {
  background-image: url("../../assets/left.png");
}

.mattRight {
  background-image: url("../../assets/left.png");
}
