.face {
  width: 150px;
  height: 200px;
  margin: 15px;
}

.leftEye {
  position: absolute;
  top: 58px;
  left: 88px;
  width: 20px;
  height: 20px;
}

.rightEye {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 58px;
  left: 111px;
}
