.face {
  width: 150px;
  height: 200px;
  margin: 15px;

  div {
    transition: transform 1s;
  }

  .leftEye {
    position: relative;
    bottom: 150px;
    left: 76px;
    width: 20px;
    height: 20px;
  }

  .rightEye {
    position: relative;
    bottom: 167px;
    left: 100px;
    width: 14px;
    height: 20px;
  }
}
