.faceDefault {
  width: 275px;
  height: 300px;
  margin: 15px;

  .eye {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;

  }

  div {
    transition: transform 1s;
  }

  .sheaLeft {
    bottom: 173px;
    left: 91px;
  }

  .sheaRight {
    bottom: 195px;
    left: 118px;
  }

  .mattLeft {
    bottom: 176px;
    left: 115px;
  }

  .mattRight {
    bottom: 198px;
    left: 148px;
  }

  .liamLeft {
    bottom: 168px;
    left: 112px;
  }

  .liamRight {
    bottom: 190px;
    left: 148px;
  }
}
