section {
  transition: 4s;
}

.showFaces {
  opacity: 1;
}

.hideFaces {
  opacity: 0;
}

.faceDefault {
  width: 275px;
  height: 300px;
  margin: 15px;

  .eye {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;

  }

  div {
    transition: transform 1s;
  }

  .sheaLeft {
    bottom: 153px;
    left: 91px;
  }

  .sheaRight {
    bottom: 175px;
    left: 118px;
  }

  .mattLeft {
    bottom: 156px;
    left: 115px;
  }

  .mattRight {
    bottom: 178px;
    left: 148px;
  }

  .liamLeft {
    bottom: 148px;
    left: 112px;
  }

  .liamRight {
    bottom: 170px;
    left: 148px;
  }
}
